<!-- addTier.ejs -->

<head>

 
    
</head>
<h1>Add Tier</h1>
 

  <div class="table-container">
<form action="/tiere/add" method="POST" >
  
    <% tableColumns.forEach(function(column) { %>
      
      <input style="margin-bottom: 10px;"  id="<%= column %>" name="<%= column %>" placeholder ="<%= column %>" required></br>
    <% }); %>
  <button type="submit">Add Tier</button>
</div>
</form>
