<!DOCTYPE html>
<html>
<head>
  <title>Alert Example</title>
</head>
<body>

<div id = "q"></div>
<script>
     // Display the alert using the message passed from the server
     
    document.getElementById("q").innerHTML='<%= err %>  ';
    
  </script>



</body>
</html>