<!DOCTYPE html>
<html>
<head>
 
  <script src="scripts.js"></script>
  <title>My First Zoo</title>
</head>
<body>
  <h1>My First Zoo</h1>
 <button><a href="/tiere">Tiere</a></button>
 <button> <a href="/gehege">Gehege</a></button>
 <button> <a href="/paten">Paten</a></button>
 <button> <a href="/lagern">Futter</a></button>
 <button> <a href="/Mitarbeiter">Mitarbeiter</a></button>
 <button> <a href="/benutzer">benutzer</a></button>
 <button> <a href="/verantwortlich">verantwortlich Tabels</a></button>
 <button> <a href="/patenschaften">Patenschaften</a></button>
</body>
</html>
